:local

    .card
        height auto
        display flex
        align-items flex-start
        
        &:hover
            cursor pointer
            border 1px solid gray

    .poster
        height 200px
        width auto

    .container
        display grid
        grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
        grid-gap 50px

        .card
            margin-bottom 1px

    .loading
        display flex
        // align-items center
        // justify-content center
        margin-top 300px
        margin-left 300px
    
    .starIconFull
        color 	#FFFF33
    
    .rating
        margin-top auto
        display flex !important
        justify-content center
    
    .content
        margin-top auto
        height 300px
        display flex
        flex-direction column
        justify-content space-between
        