:local

    .card
        height auto
        width 250px
        display flex
        // justify-items flex-start
        align-items flex-start
        
        &:hover
            cursor pointer
            border 1px solid gray

    .poster
        height 200px
        width auto
    .container
        display grid
        grid-template-columns repeat(auto-fit, minmax(250px, 1fr))
        grid-gap 50px
        // grid-column-gap 10px
        // grid-row-gap 30px

        .card
            margin-bottom 1px