{
    "presets": [
        [
            "@babel/preset-react",
        ],
        [
            "@babel/preset-env", {"modules": false, "useBuiltIns": "entry", "corejs": 3},
            
        ]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
    ],
}