:local
    .form
        text-align center
        display flex
        margin-top 20px
        align-content center
        flex-flow wrap column

    .container 
        width 100%
        height 100%
        margin 2px

    .button
        display flex
        flex 1
        &:first-child
            margin-right 5px
        margin-top 10px !important

    .submit 
        display flex
