:local
    .form
        text-align center
        display flex
        // justify-content center
        align-items center
        flex-flow wrap column
        height 100%
        
    .item 
        
    .button
        // padding auto
        display inline-block
        flex 1
        flex-basis 50px
    .submit 
        display flex
        // justify-content space-around
        
